* {
    margin: 0;
}


/* Header */

.top1 {
    background: gray;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    padding: 200px;
    text-align: right;
    margin-bottom: 140px;
}

.heading {
    width: 525px;
    font-size: 65px;
    margin-left: 490px;
    color: var(--Dark-01, #151414);
}

.title {
    width: 400px;
    font-size: 16px;
    color: #444343;
    margin-left: 613px;
    margin-top: 24px;
}

.primary-btn {
    background: #F15B22;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin: 15px -64px;
    margin-top: 32px;
    color: #FFF;
}



/* Main 1 */

.main1 {
    display: flex;
    gap: 87px;
    justify-content: center;
}

.img {
    padding: 71px 47px;
}

.main1-headin {
    margin-top: 265px;
    margin-bottom: 24px;
}

.main1-title {

    width: 416px;
    font-size: 16px;
    color: #444343;
}

.icon {
    margin-top: 16px;
    text-decoration: none;
    font-size: 23px;
    color: var(--Dark-02, #444343);
}

.icon i {
    margin-bottom: 10px;
}


/* My Plans */
.plans-box {
    display: flex;
    justify-content: center;
    gap: 99px;
    text-align: center;
}

.plans-heading {
    text-align: center;
    margin-top: 186px;
    margin-bottom: 50px;
}

.plans-box h3 {
    margin-top: 10px;
}



/* Watch */

.watch {
    color: rgb(255, 255, 255);
    margin-left: 105px;
    margin-top: 130px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url("../images/watch.png");
    background-repeat: no-repeat;
    padding: 103px 70px;
    margin-bottom: 130px;
}

.primary-btn2 {
    background: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: #F15B22;
    margin-top: 24px;
}



/* Footer */

.foot {
    display: flex;
    background: #151414;
    padding: 100px;
    justify-content: center;
}
.footer {
    color: #FFF;
}
.primary-btn3 {
    margin-top: 10px;
    color: #f15b22;
    border: none;
    padding: 11px 11px;
    border-radius: 5px;
    background: #FFF;
}
.subscribe {
    color: white;
}
.subscribe input {
    background: var(--Dark-01, #151414);
    padding: 11px 15px;
    border: none;
    border-radius: 8px;
    border: 1px solid #FFF;
    margin-top: 15px;
    margin-bottom: 3px;
}